<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
    <!-- {% block content %} 
       <h1>{{ title }}</h1>
       <h3>So far we have {{ numUsers }} users!  Join us</h3>
    {% if isLoggedIn %}
       <p>You are logged in</p>
    {% else %}
        <p>You are not logged in</p>
    {% endif %}
    {% endblock %} -->

    {% if refresh %}
        <p>Your token expired, please log in again</p>
    {% else %}
        <h1>{{ title }}</h1>
        <h3>So far we have {{ numUsers }} users!  Join us</h3>
    {% endif %}

    <h2>Login:</h2>
    <form action="/login" method="POST">
        <label for="username">Enter your username: </label>
        <input type="text" id="username" name="username"><br>
        <label for="password">Enter your password: </label>
        <input type="text" id="password" name="password"><br>
        <input type="submit" value="Submit">
    </form>
    
</body>
</html>
