<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Secret Page</title>
</head>
<body>
    {% block content %} 
    <h1>{{ title }}</h1>
    <h3>So far we have {{ numUsers }} users!  We're glad you're one of them!</h3>
    <p>You are {% if !isLoggedIn %} {{ not }} {% endif %} logged in</p>
    {% endblock %}

    <h2>You shouldn't be able to see this unless you are logged in.</h2>
</body>
</html>
